@page "/patients"

<PageTitle>Patients</PageTitle>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title d-inline-block">Patients</h5>
        <NavLink class="btn btn-primary float-right" href="patients/create">Create New</NavLink>
    </div>
</div>

@code {

}
